/*
    Created on : Feb 18, 2014, 12:25:49 PM
    Author     : Kom Sihon
*/

html {height: 100%; padding-bottom: 1px} /* Forces right side scrollbar */
body {background: #160600; color: #55372D; font: normal 78% "Open Sans", ubuntu, sans-serif; margin: 0;zoom: 100%}
h1, h2, h3, h4, h5, h6, p, ul {margin: 0; padding: 0}
input, select, button {font-family: arial, sans-serif}
a {color: #BD7300}
a.button {text-decoration: none}
span {float: left}
.close {cursor: pointer; padding: 5px 5px 0 0; text-align: right}
.floating-notice {background: #F6FF8C; border: 1px solid #CDD570; border-radius: 2px; color: #484B2B; padding: 9px 24px; position: absolute}
.floating-notice a {font-weight: bold}
#order-failed .floating-notice {background: #EECACD; border: 1px solid #E98C8C}
.floating-notice.failure {border: 1px solid; color:  #F00}
.floating-notice .action {cursor: pointer; text-decoration: underline}
.has-content-shade {box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .15); -moz-box-shadow: 0 4px 6px 2px -moz-rgba(0, 0, 0, .15); -webkit-box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .15)}
.translucent {filter: Alpha(Opacity=75); opacity: .75}
.subtle-shade {box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15); -moz-box-shadow: 0 1px 2px 0 -moz-rgba(0, 0, 0, .15); -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15)}
.has-shade {box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, .1); -moz-box-shadow: 1px 1px 9px 4px -moz-rgba(0, 0, 0, .1); -webkit-box-shadow: 1px 1px 9px 4px rgba(0, 0, 0, .1)}
.text-has-shade {text-shadow: 1px 2px 2px rgba(0, 0, 0, .3)}
.inner-shade {box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15); -moz-box-shadow: inset 0 1px 3px -moz-rgba(0, 0, 0, .15); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .15)}
.no-shade {box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none}
.hidden, .tpl {display: none}
.clear {clear: both}
.has-faded-edge {overflow: hidden}
.has-faded-edge span {width: 400%}
a.button {margin-top: 4px}
.has-faded-edge span.faded-edge {background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(75%,rgba(255,255,255,1)));
background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 75%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1);
float: right; height: 300%; margin-top: -20px; width: 20%}
.caution {color: #D62626}
.spinner-container {-webkit-animation: rotate 2s linear infinite; animation: rotate 2s linear infinite; z-index: 2}
.spinner-container .path {stroke-dasharray: 1,150; stroke-dashoffset: 0; stroke: rgba(176, 98, 32, .9); stroke-linecap: round;
  -webkit-animation: dash 1.5s ease-in-out infinite; animation: dash 1.5s ease-in-out infinite;
}
.icon {float: left; height: 24px; margin-right: 3px; width: 24px}
@keyframes rotate {
    100% { transform: rotate(360deg); }
}
@-webkit-keyframes rotate {
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes dash {
    0% {stroke-dasharray: 1,150; stroke-dashoffset: 0}
    50% {stroke-dasharray: 90,150; stroke-dashoffset: -35}
    100% {stroke-dasharray: 90,150; stroke-dashoffset: -124}
}
@-webkit-keyframes dash {
    0% {stroke-dasharray: 1, 150; stroke-dashoffset: 0}
    50% {stroke-dasharray: 90, 150; stroke-dashoffset: -35}
    100% {stroke-dasharray: 90, 150; stroke-dashoffset: -124}
}
.icon {background-image: url("http://static.cinemax.club/media/images/sprite-cinemax-club-3.png"); background-repeat: no-repeat; background-size: 240px auto; float: left; height: 24px; width: 24px}
.spinner {background: url("http://static.cinemax.club/media/images/spinner-medium.gif") no-repeat center; background-size: 60px; float: left; height: 195px; width: 100%}
.icon.box-arrow {background-image: url("http://static.cinemax.club/media/images/sprite-inactive.png");background-position: -315px -135px; float: right; height: 16px; margin: -15px 6px}
#top-notice-ctnr {left: 0; position: fixed; text-align: center; top: 60px; width: 100%}
#lightbox {background: rgba(255, 255, 255, .54); height: 100%; position: fixed; left: 0; top: 0; width: 100%; z-index: 100}
#lightbox.stream {
    background: #242628;
    background: -moz-radial-gradient(center, ellipse cover,  #242628 0%, #000000 100%);
    background: -webkit-radial-gradient(center, ellipse cover,  #242628 0%,#000000 100%);
    background: radial-gradient(ellipse at center,  #242628 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242628', endColorstr='#000000',GradientType=1 );
}
#lightbox .close {position: absolute; right: 0}
#lightbox.stream .close {color: #000; text-shadow: 1px 1px 8px rgba(255, 0, 0, .54);}
#lightbox .wrapper {height: 100%; width: 100%}
#lightbox .dialog {background-color: #fff; border: 1px solid #FFAE30; margin: 0 auto; width: 360px; transition: background-color .3s}
#lightbox .dialog .stage {padding: 0 15px 15px}
#lightbox .dialog.player {height: 450px; width: 630px}
#lightbox .dialog.player.spinner {float: none} /* Cancels rule float: left set by class .spinner */
#lightbox .dialog.player.stream {background-color: #000; transition: background-color .3s}
#lightbox .dialog.player .stream-error {padding: 36px 15px 0; text-align: center}
#lightbox .dialog.player .stream-error p {font-size: 1.8em; line-height: 1.8em; margin-top: 18px}
#lightbox .dialog.player video {border: none; height: 400px; margin-left: 9px; width: 600px}

footer {color: #fff; clear: both; margin-top: 30px; padding: 33px 0 18px; width: 100%}
footer p {text-align: justify; line-height: 21px}
footer section {float: left; width: 300px}
footer .block {float: left; margin-right: 30px; width: 225px}
footer .block:last-child {margin-right: 0}
footer li {list-style: none; display: inline}
footer li {border-bottom: 1px solid #222; display: block; float: left; padding: 9px 0; width: 100%}
footer li:last-child {border-bottom: none}
footer .follow-us li {border-bottom: none; display: block; float: left; padding: 0; width: 100%}
footer li:first-child {padding-top: 0}
footer li a {color: #fff; text-decoration: none}
footer header {color: #fff; font: bold 1.8em Arial, sans-serif; margin-bottom: 15px}
footer ul.social {clear: right; display: inline; float: right; margin: 6px 24px 0 0}
footer ul.social {display: inline; float: left; margin-top: 4px}
footer ul.social li {display: inline; float: left; height: 36px; margin-right: 6px; width: 36px}
footer ul.social li:last-child {margin-right: 0}
footer ul.social li a {float: left; height: 36px; width: 36px}
footer .block.contact ul li {border: none; padding: 4px 0}
footer .block.contact ul li:first-child {margin-top: 15px}